/* @@@@@@@@@@@@@@@@ BASE @@@@@@@@@@@@@@@@ */
@font-face {
  font-family: '400';
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: '500';
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: '600';
  src: url(../fonts/Poppins-SemiBold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: '500';
}

body {
  padding: 4rem 4rem 0 4rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M-32.91 800.15C167.84 783.82 386.84 376.41 653.88 378.95 920.93 381.49 838.76 967.8 997.28 1082.66' stroke='rgba(255%2c 221%2c 0%2c 0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-241.75 741.8C-90.35 742.66 53.43 876.8 348.61 876.8 643.79 876.8 638.02 740.67 938.97 741.8 1239.92 742.93 1355.84 1096.55 1529.33 1111.37' stroke='rgba(255%2c 221%2c 0%2c 0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-40.11 805.94C108.92 806.82 250.21 940.94 540.52 940.94 830.84 940.94 821.32 803.53 1121.15 805.94 1420.98 808.35 1521.91 1217.63 1701.78 1240.84' stroke='rgba(255%2c 221%2c 0%2c 0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-252.74 685.5C-92.63 686.26 60.28 820.5 373.31 820.5 686.33 820.5 667.31 679 999.35 685.5 1331.39 692 1416.43 1222.29 1625.4 1264.28' stroke='rgba(255%2c 221%2c 0%2c 0.2)' stroke-width='2'%3e%3c/path%3e%3cpath d='M-220.98 650.58C-5.49 643.13 242.24 291.43 569.21 304.98 896.19 318.53 775.03 1049.01 964.31 1206.11' stroke='rgba(255%2c 221%2c 0%2c 0.2)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;

  /* position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden; */
}

.logo {
  background: hsl(52, 100%, 50%);
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.logo span {
  font-family: '600';
  font-size: 8rem;
  line-height: 1;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project__link {
  background: linear-gradient(
    150deg,
    hsla(52, 100%, 50%, 0.5),
    hsla(0, 0%, 0%, 0.5)
  );
  backdrop-filter: blur(3px);

  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
}

.project__link span {
  background: hsl(52, 100%, 50%);
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;

  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.project__link:hover span {
  transform: translateY(-5px);
}

.copy {
  margin: 2rem auto 1rem;
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
}

.copy a {
  color: #ffeb66;
}

/* @@@@@@@@@@@@@ BREAKPOINTS @@@@@@@@@@@@@ */

@media (max-width: 767px) {
  body {
    padding: 2rem 1.5rem 0 1.5rem;
  }

  .logo {
    margin-bottom: 1.5rem;
  }

  .logo span {
    font-size: 4rem;
    line-height: 1.5;
  }

  section {
    grid-template-columns: 1fr;
  }

  .project__link span {
    font-size: 1rem;
  }
}
