@font-face {
  font-family: '400';
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: '500';
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: '600';
  src: url(../fonts/Poppins-SemiBold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: '400';
}

body {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='397' height='397' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
}

button {
  display: inline-block;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: hsl(300, 100%, 30%);
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  transition: box-shadow 0.3s;
}

.modal__button:hover {
  box-shadow: 0 0 50px 0 hsl(300, 100%, 20%);
}

.modal__container {
  background: hsla(300, 100%, 10%, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: 0.3s;

  visibility: hidden;
  opacity: 0;

  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal__content {
  background: hsl(300, 100%, 92%);
  display: grid;
  justify-items: center;
  padding: 3rem;
  border-radius: 0.5rem;
  width: 500px;
  transition: 0.5s;

  /* EFFECT 1 */
  /* transform: translateY(15%); */

  /* EFFECT 2 */
  transform: translateY(15%) scale(0.5);

  /*=== Effect 3 ===*/
  /* transform: translateY(10%) scale(0.5) rotateX(65deg); */
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: hsl(300, 100%, 10%);
  cursor: pointer;
}

.modal__trophy {
  font-size: 10rem;
  color: hsl(300, 100%, 10%);
  margin-bottom: 1rem;
}

.modal__status {
  background: hsl(300, 100%, 10%);
  color: #fff;
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  transition: background 0.3s;
}

.modal__status:hover {
  background: hsl(300, 100%, 15%);
}

/* @@@@@@@@@@@@@ Js Classes @@@@@@@@@@@@@ */
.modal__container.show-modal {
  visibility: visible;
  opacity: 1;
}

.modal__container.show-modal .modal__content {
  /* EFFECT 1 */
  /* transform: translateY(0); */

  /* EFFECT 2 */
  transform: translateY(0) scale(1);

  /*=== Effect 3 ===*/
  /* transform: translateY(0) scale(1) rotateX(0); */
}

/* @@@@@@@@@@@@@ BREAKPOINTS @@@@@@@@@@@@@ */
@media (max-width: 575px) {
  .modal__button {
    font-size: 0.9rem;
    padding: 1rem;
  }

  .modal__container {
    place-items: end;
  }

  .modal__content {
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
  }
}
