@font-face {
  font-family: '400';
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: '500';
  src: url(../fonts/Poppins-Medium.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: '500';
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(244%2c 157%2c 26%2c 1)'%3e%3c/rect%3e%3cpath d='M27 250L277 0L592 0L342 250z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M275.6 250L525.6 0L606.6 0L356.6 250z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M486.20000000000005 250L736.2 0L889.2 0L639.2 250z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M756.8000000000001 250L1006.8000000000001 0L1275.3000000000002 0L1025.3000000000002 250z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M1420 250L1170 0L1131 0L1381 250z' fill='url(%23SvgjsLinearGradient1014)'%3e%3c/path%3e%3cpath d='M1192.4 250L942.4000000000001 0L705.4000000000001 0L955.4000000000001 250z' fill='url(%23SvgjsLinearGradient1014)'%3e%3c/path%3e%3cpath d='M940.8 250L690.8 0L561.8 0L811.8 250z' fill='url(%23SvgjsLinearGradient1014)'%3e%3c/path%3e%3cpath d='M718.1999999999999 250L468.19999999999993 0L324.19999999999993 0L574.1999999999999 250z' fill='url(%23SvgjsLinearGradient1014)'%3e%3c/path%3e%3cpath d='M1248.558047598097 250L1440 58.558047598096806L1440 250z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M0 250L191.4419524019032 250L 0 58.558047598096806z' fill='url(%23SvgjsLinearGradient1014)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1013'%3e%3cstop stop-color='rgba(250%2c 213%2c 158%2c 0.4)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(250%2c 213%2c 158%2c 0.4)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1014'%3e%3cstop stop-color='rgba(250%2c 213%2c 158%2c 0.4)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(250%2c 213%2c 158%2c 0.4)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.rating {
  background: hsl(0, 0%, 98%);
  border-radius: 1.5rem;
  padding: 2rem 3rem;
}

.rating h2 {
  color: hsl(0, 0%, 75%);
  margin-bottom: 1.5rem;
}

.stars {
  display: flex;
  justify-content: space-between;
}

.stars i {
  font-size: 2.5rem;
  color: hsl(0, 0%, 75%);
  cursor: pointer;
  transition: color 0.3s;
}

.stars i.active {
  color: hsl(36, 91%, 53%);
}

@media screen and (max-width: 575px) {
  .rating {
    padding: 1.5rem 2rem;
  }

  .rating h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .stars i {
    font-size: 2rem;
  }
}
